<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PPEP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="./icon.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
     .col-md-5{
         min-height:200px !important;
         }
     </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="HelloWorld" asp-action="Index">
                    <img src="/icon.png" height="30" width="30" />
                    PPEP
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1  mx-2">
                        <li class="nav-item">
                            <a id="home" class="nav-link text-dark active" asp-area="" asp-controller="HelloWorld" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="services" class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a id="destination" class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Destination">Destination</a>
                        </li>
                        <li class="nav-item">
                            <a id="new-booking" class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="New Booking">New Booking</a>
                        </li>
                        <li class="nav-item">
                            <a id="portfolio" class="nav-link text-dark" asp-area="" asp-controller="HelloWorld" asp-action="Portfolio">Portfolio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-white text-muted">
        <div class="container">
            &copy; 2022 - PPEP - <a asp-area="" asp-controller="HelloWorld" asp-action="Contact">Contact Us</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
